@model ViewModel.EpisodeWithShowNameViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="h1 fw-normal">@Model.Name</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Show.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Show.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonNumber)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeasonNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EpisodeNumber)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EpisodeNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirDate)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd class="col-sm-10">
            <div class="w-25">
                <img src="@Model.ImageUrl" alt="Image" class="rounded img-thumbnail w-75" />
            </div>
            @*@Html.DisplayFor(model => model.ImageUrl)*@
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clerk)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clerk)
        </dd>

         @if (!String.IsNullOrEmpty(Model.Premise))
         {
            <hr />
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Premise)
            </dt>

            <dd class="col-sm-10">
                @Html.Raw(Model.Premise)
            </dd>
         }

         @if (Model.VideoContentType != null)
         {
            <hr class="mt-3" />
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VideoContentType)
            </dt>

            <dd class="col-sm-10">
                <video controls>
                    <source src="@Url.Action("Video", "Episodes", new { id = Model.Id })" type="@Model.VideoContentType" />
                    Your browser does not support the video tag.
                </video>
            </dd>
         }

    </dl>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
</div>